body{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 230, 247);
    box-sizing: border-box;
}
#header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    padding-top: 30px;
}
.container{  
    width:1200px;
    display:flex;   
    /* padding:0px 100px; */
    flex-wrap: wrap;
    justify-content: center;   
    align-items: center;
    height:80vh;
}
.child{
    width:330px;   
    display:flex;
    height:80vh;
    margin:0 15px;
    background-color: white;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px black;
}
ul{
    width:200px;
    height:200px;
    padding-top:20px;
    padding-left: 70px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list{
    width:200px;
    height:110px;
    padding-top:20px;
    padding-left: 70px;
    padding-bottom: 92px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    position:relative;
    left:70px;
}
button{
    position: relative;
    left:35px;
    top:10px;
    border: none;
    background-color: black;
    color:white;
    padding:15px 90px;
    border-radius:25px;
} 
.content1{
    background-color:white;
    color:black;
    
}
/* p{
    padding:30px ;
    padding-left:50px;
} */
.gold{
    background-color: black;
    color: white;
}
